<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <logger name="org.springframework.data.neo4j.mapping.Neo4jPersistentProperty" level="ERROR"/>
    <logger name="org.neo4j.ogm.authentication" level="ERROR"/>
    <logger name="org.elasticsearch" level="ERROR" />
    <logger name="de.tud" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>