<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.neo4j.ogm.authentication" level="ERROR"/>
    <logger name="de.tud" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>